<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            com.nannan.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>nannanSpring</servlet-name>
        <servlet-class>com.nannan.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/minisMVC-servlet.xml</param-value>
        </init-param>
<!--
决定servlet实例化的时间 值越小(>=1) 越先实例化
实例化后，servlet容器调用init方法执行初始化操作
<0时不会主动实例化，会等到第一个请求到达时才实例化
-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>nannanSpring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>